<h4>Página: {{products.page}} de {{products.totalPages}}</h4>

{{requestUrl}} 

<form action="{{buildFilterUrl requestUrl}}" method="GET">
  <div>
    <label for="limit">Mostrar:</label>
    <select name="limit" id="limit" onchange="this.form.submit()">
      <option value="10" {{#ifCond limit '===' '10'}}selected{{/ifCond}}>10 por página</option>
      <option value="20" {{#ifCond limit '===' '20'}}selected{{/ifCond}}>20 por página</option>
      <option value="50" {{#ifCond limit '===' '50'}}selected{{/ifCond}}>50 por página</option>
    </select>
  </div>

  <div>
    <label for="category">Categoría:</label>
    <select name="category" id="category" onchange="this.form.submit()">
      <option value="">Todas las categorías</option>
      {{#each categoriesWithSelection}}
        <option value="{{category}}" {{#ifCond category '===' category}}selected{{/ifCond}}>{{category}}</option>
      {{/each}}
    </select>
  </div>

  <div>
    <label for="stock">Nivel de Stock:</label>
    <select name="stock" id="stock" onchange="this.form.submit()">
      <option value="">Todos los niveles de stock</option>
      <option value="1" {{#ifCond stock '===' '1'}}selected{{/ifCond}}>1 unidad</option>
      <option value="5" {{#ifCond stock '===' '5'}}selected{{/ifCond}}>6 unidades</option>
      <!-- Agrega las demás opciones aquí -->
    </select>
  </div>

  <div>
    <label for="sort">Ordenar por:</label>
    <select name="sort" id="sort" onchange="this.form.submit()">
      <option value="">Ordenar por</option>
      <option value="asc" {{#ifCond sort '===' 'asc'}}selected{{/ifCond}}>Menor precio</option>
      <option value="desc" {{#ifCond sort '===' 'desc'}}selected{{/ifCond}}>Mayor precio</option>
    </select>
  </div>

  <div>
    <input type="submit" value="Aplicar filtros">
  </div>
</form>

<div class="product-container">
  {{#each products.docs}}
    <div class="card">
      <img src="..." class="card-img-top" alt="..." />
      <div class="card-body">
        <h5 class="card-title">{{this.title}}</h5>
        <p class="card-text">{{this.description}}</p>
        <p class="card-text">${{this.price}}</p>
        <a href="#" class="btn btn-primary">Agregar al carrito</a>
      </div>
    </div>
  {{/each}}
</div>

<nav aria-label="Page navigation example ">
    <ul class="pagination d-flex justify-content-center">
      {{#if products.hasPrevPage}}
        <li class="page-item">
          <a class="page-link" href="{{buildPaginationLink 'page' products.prevPage requestUrl}}">Anterior</a>
        </li>
      {{/if}}

      {{#each pages}}

  <li class="page-item">

    <a class="page-link" href="{{buildPaginationLink 'page' this requestUrl}}">{{this}}</a>

  </li>

{{/each}}

      {{#if products.hasNextPage}}
        <li class="page-item">
          <a class="page-link" href="{{buildPaginationLink 'page' products.nextPage requestUrl}}">Siguiente</a>
        </li>
      {{/if}}
    </ul>
  </nav>